.wrapCard {
    position: relative;
    width: 312px;
    height: 460px;
    border-radius: 20px;
    background: linear-gradient(
        114.99deg,
        #471ca9 -0.99%,
        #5736a3 54.28%,
        #4b2a99 78.99%
    );
    box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
}
@media screen and (min-width: 768px) {
    .wrapCard {
        width: 340px;
    }
}
@media screen and (min-width: 1024px) {
    .wrapCard {
        width: 320px;
    }
}
@media screen and (min-width: 1440px) {
    .wrapCard {
        width: 380px;
    }
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.image {
    position: absolute;
    top: 28px;
    left: 50%;
    transform: translateX(-50%);
}

.line {
    position: absolute;
    top: 214px;
    width: 100%;
    height: 8px;
    background: #ebd8ff;
    box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.06),
        inset 0px -1.71846px 3.43693px #ae7be3,
        inset 0px 3.43693px 2.5777px #fbf8ff;
}

.wrapPhoto {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 178px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    background: #ebd8ff;
    box-shadow: 0px 4.39163px 4.39163px rgba(0, 0, 0, 0.06),
        inset 0px -2.19582px 4.39163px #ae7be3,
        inset 0px 4.39163px 3.29372px #fbf8ff;
    border-radius: 50%;
}

.wrapAvatar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5736a3;
    overflow: hidden;
    width: 62px;
    height: 62px;
    border-radius: 50%;
}

.wrapText {
    position: absolute;
    top: 284px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    text-align: center;
    text-transform: uppercase;
    color: #ebd8ff;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 20px;
}

.followers {
    margin-top: 16px;
}

.span {
    margin-right: 4px;
}

.button {
    margin-top: 26px;
    min-width: 200px;
    padding: 14px 28px;
    background-color: #ebd8ff;
    box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    color: #373737;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}
.button:hover {
    background-color: #d1a9fe;
}

.buttonClick {
    background-color: #5cd3a8;
}
.buttonClick:hover {
    background-color: #21805e;
    color: #d1a9fe;
}
