.wrapCard {
    position: relative;
    margin: 100px auto;
    width: 380px;
    height: 460px;
    border-radius: 20px;
    background: linear-gradient(
        114.99deg,
        #471ca9 -0.99%,
        #5736a3 54.28%,
        #4b2a99 78.99%
    );
    box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.image {
    position: absolute;
    left: 36px;
    top: 28px;
}

.line {
    position: absolute;
    top: 214px;
    width: 100%;
    height: 8px;
    background: #ebd8ff;
    box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.06),
        inset 0px -1.71846px 3.43693px #ae7be3,
        inset 0px 3.43693px 2.5777px #fbf8ff;
}

.wrapPhoto {
    position: absolute;
    top: 178px;
    left: 150px;
    width: 80px;
    height: 80px;
    background: #ebd8ff;
    box-shadow: 0px 4.39163px 4.39163px rgba(0, 0, 0, 0.06),
        inset 0px -2.19582px 4.39163px #ae7be3,
        inset 0px 4.39163px 3.29372px #fbf8ff;
    border-radius: 50%;
    /* border: 5px solid #ebd8ff; */
}

.wrapText {
    position: absolute;
    top: 284px;
    left: 50%;
    transform: translateX(-50%);
}

.text {
    text-align: center;
    text-transform: uppercase;
    color: #ebd8ff;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 20px;
}

.followers {
    margin-top: 16px;
}
